<section class="text-center">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <img class="mb-4" src="../../../assets/images/thumbnail_admin.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Admin Sign In</h1>

    <label for="inputEmail" class="sr-only" >Email address</label>
    <input type="email" class="form-control" [formControl]="loginForm.controls['email']" placeholder="Email address" required autofocus>

      <p *ngIf="loginForm.controls['isInvalid'].value">이메일 혹은 비밀번호가 틀립니다.</p>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" class="form-control" [formControl]="loginForm.controls['password']" placeholder="Password" required>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
  </form>
</section>


<!-- register 부분 참고 -->